.buttons {
    background-color: cornflowerblue;
    margin: 10px;
    border: dodgerblue solid;
}

.users {
    display: grid;
    grid-template-columns: 150px 50px;
}

.name, .age {
    color: #4b48d4;

}

.age {

}